.DS_Store
*.xcuserstate
*.xcscheme
xcschememanagement.plist
hookflash-libs/boost/boost/bin.v2/
hookflash-libs/boost/boost/bjam
hookflash-libs/boost/boost/bootstrap.log
hookflash-libs/boost/boost/project-config.jam
hookflash-libs/boost/boost/project-config.jam.1
hookflash-libs/boost/boost/tools/build/v2/engine/src/bin.macosxx86_64/
hookflash-libs/boost/boost/tools/build/v2/engine/src/bootstrap/
hookflash-staging/
WorkspaceSettings.xcsettings
