[submodule "hookflash-libs/bbBoost"]
	path = hookflash-libs/bbBoost
	url = https://github.com/openpeer/op.git
[submodule "libs/zsLib"]
	path = libs/zsLib
	url = git@github.com:openpeer/zsLib.git
[submodule "libs/boost"]
	path = libs/boost
	url = git@github.com:openpeer/boost.git
[submodule "libs/curl"]
	path = libs/curl
	url = git@github.com:openpeer/curl.git
