.DS_Store
*.xcuserstate
*.xcscheme
*.pbxuser
*.mode1v3
*.snap
*.so
*.o
*.a
.metadata
xcschememanagement.plist
hookflash-staging/
WorkspaceSettings.xcsettings
Device-Release
Device-Debug
Simulator-Debug
hookflash-libs/boost/boost/bin.v2/
hookflash-libs/boost/boost/bjam
hookflash-libs/boost/boost/bootstrap.log
hookflash-libs/boost/boost/project-config.jam
hookflash-libs/boost/boost/project-config.jam.*
hookflash-libs/boost/boost/tools/build/v2/engine/src/bin.macosxx86_64/
hookflash-libs/boost/boost/tools/build/v2/engine/src/bootstrap/
hookflash-libs/curl/curl/config.log
hookflash-libs/curl/curl/config.status
hookflash-libs/curl/curl/curl-config
hookflash-libs/curl/curl/docs/Makefile
hookflash-libs/curl/curl/docs/examples/.deps
hookflash-libs/curl/curl/docs/examples/Makefile
hookflash-libs/curl/curl/docs/libcurl/Makefile
hookflash-libs/curl/curl/include/Makefile
hookflash-libs/curl/curl/include/curl/Makefile
hookflash-libs/curl/curl/include/curl/curlbuild.h
hookflash-libs/curl/curl/include/curl/stamp-h3
hookflash-libs/curl/curl/lib/.deps/
hookflash-libs/curl/curl/lib/.libs/
hookflash-libs/curl/curl/lib/Makefile
hookflash-libs/curl/curl/lib/
hookflash-libs/curl/curl/libcurl.pc
hookflash-libs/curl/curl/libtool
hookflash-libs/curl/curl/packages/AIX/Makefile
hookflash-libs/curl/curl/packages/AIX/RPM/Makefile
hookflash-libs/curl/curl/packages/AIX/RPM/curl.spec
hookflash-libs/curl/curl/packages/EPM/Makefile
hookflash-libs/curl/curl/packages/EPM/curl.list
hookflash-libs/curl/curl/packages/Linux/Makefile
hookflash-libs/curl/curl/packages/Linux/RPM/Makefile
hookflash-libs/curl/curl/packages/Linux/RPM/curl-ssl.spec
hookflash-libs/curl/curl/packages/Linux/RPM/curl.spec
hookflash-libs/curl/curl/packages/Makefile
hookflash-libs/curl/curl/packages/Solaris/Makefile
hookflash-libs/curl/curl/packages/Win32/Makefile
hookflash-libs/curl/curl/packages/Win32/cygwin/Makefile
hookflash-libs/curl/curl/packages/vms/Makefile
hookflash-libs/curl/curl/src/.deps/
hookflash-libs/curl/curl/src/Makefile
hookflash-libs/curl/curl/src/curl
hookflash-libs/curl/curl/src/curl_config.h
hookflash-libs/curl/curl/src/*.o
hookflash-libs/curl/curl/src/stamp-h2
hookflash-libs/curl/curl/tests/Makefile
hookflash-libs/curl/curl/tests/configurehelp.pm
hookflash-libs/curl/curl/tests/data/Makefile
hookflash-libs/curl/curl/tests/libtest/.deps/
hookflash-libs/curl/curl/tests/libtest/Makefile
hookflash-libs/curl/curl/tests/server/.deps/
hookflash-libs/curl/curl/tests/unit/.deps/
hookflash-libs/curl/curl/tests/server/Makefile
hookflash-libs/curl/curl/tests/unit/Makefile
hookflash-libs/webRTC/out
hookflash-libs/webRTC/webrtc/video_engine/test/android/bin
hookflash-libs/webRTC/webrtc/video_engine/test/android/gen
hookflash-libs/webRTC/webrtc/video_engine/test/android/libs
hookflash-libs/webRTC/webrtc/video_engine/test/android/obj
