[submodule "libs/zsLib"]
	path = libs/zsLib
	url = git@github.com:openpeer/zsLib.git
[submodule "libs/boost"]
	path = libs/boost
	url = git@github.com:openpeer/boost.git
[submodule "libs/curl"]
	path = libs/curl
	url = git@github.com:openpeer/curl.git
[submodule "libs/cryptopp"]
	path = libs/cryptopp
	url = git@github.com:openpeer/cryptopp.git
[submodule "libs/udns"]
	path = libs/udns
	url = git@github.com:openpeer/udns.git
[submodule "libs/webrtc"]
	path = libs/webrtc
	url = https://github.com/openpeer/webrtc.git
