.DS_Store
*.xcuserstate
*.xcscheme
*.pbxuser
*.mode1v3
*.snap
*.so
*.o
*.a
xcschememanagement.plist
hookflash-staging/
WorkspaceSettings.xcsettings
hookflash-libs/boost/boost/bin.v2/
hookflash-libs/boost/boost/bjam
hookflash-libs/boost/boost/bootstrap.log
hookflash-libs/boost/boost/project-config.jam
hookflash-libs/boost/boost/project-config.jam.*
hookflash-libs/boost/boost/tools/build/v2/engine/src/bin.macosxx86_64/
hookflash-libs/boost/boost/tools/build/v2/engine/src/bootstrap/
hookflash-libs/curl/curl/config.log
hookflash-libs/curl/curl/config.status
hookflash-libs/curl/curl/curl-config
hookflash-libs/curl/curl/docs/Makefile
hookflash-libs/curl/curl/docs/examples/.deps
hookflash-libs/curl/curl/docs/examples/Makefile
hookflash-libs/curl/curl/docs/libcurl/Makefile
hookflash-libs/curl/curl/include/Makefile
hookflash-libs/curl/curl/include/curl/Makefile
hookflash-libs/curl/curl/include/curl/curlbuild.h
hookflash-libs/curl/curl/include/curl/stamp-h3
hookflash-libs/curl/curl/lib/.deps/
hookflash-libs/curl/curl/lib/.libs/
hookflash-libs/curl/curl/lib/Makefile
hookflash-libs/curl/curl/lib/
hookflash-libs/curl/curl/libcurl.pc
hookflash-libs/curl/curl/libtool
hookflash-libs/curl/curl/packages/AIX/Makefile
hookflash-libs/curl/curl/packages/AIX/RPM/Makefile
hookflash-libs/curl/curl/packages/AIX/RPM/curl.spec
hookflash-libs/curl/curl/packages/EPM/Makefile
hookflash-libs/curl/curl/packages/EPM/curl.list
hookflash-libs/curl/curl/packages/Linux/Makefile
hookflash-libs/curl/curl/packages/Linux/RPM/Makefile
hookflash-libs/curl/curl/packages/Linux/RPM/curl-ssl.spec
hookflash-libs/curl/curl/packages/Linux/RPM/curl.spec
hookflash-libs/curl/curl/packages/Makefile
hookflash-libs/curl/curl/packages/Solaris/Makefile
hookflash-libs/curl/curl/packages/Win32/Makefile
hookflash-libs/curl/curl/packages/Win32/cygwin/Makefile
hookflash-libs/curl/curl/packages/vms/Makefile
hookflash-libs/curl/curl/src/.deps/
hookflash-libs/curl/curl/src/Makefile
hookflash-libs/curl/curl/src/curl
hookflash-libs/curl/curl/src/curl_config.h
hookflash-libs/curl/curl/src/*.o
hookflash-libs/curl/curl/src/stamp-h2
hookflash-libs/curl/curl/tests/Makefile
hookflash-libs/curl/curl/tests/configurehelp.pm
hookflash-libs/curl/curl/tests/data/Makefile
hookflash-libs/curl/curl/tests/libtest/.deps/
hookflash-libs/curl/curl/tests/libtest/Makefile
hookflash-libs/curl/curl/tests/server/.deps/
hookflash-libs/curl/curl/tests/unit/.deps/
hookflash-libs/curl/curl/tests/server/Makefile
hookflash-libs/curl/curl/tests/unit/Makefile
.metadata/
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.projects/OpenPeer10/.indexes/e4/
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
/hookflash-core/projects/bb/bbzsLib/Simulator-Debug/src/cpp/zsLib_XMLText.o
/hookflash-core/projects/bb/bbzsLib/Simulator-Debug/libbbzsLib.a
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.root/7.tree
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.root/6.tree
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.projects/TestHarness/.markers
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.projects/OpenPeer10/.markers
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.projects/bbzsLib/.markers
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.cdt.core/.log
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/com.qnx.tools.ide.qde.core/qdeBuildInfo
/hookflash-core/projects/bb/bbworkspace/

/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/1/20939bf7f6790012183cb0e22063dcb5
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/3e/2016d1bd137a0012183cb0e22063dcb5
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/59/90e21331087a0012183cb0e22063dcb5
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/62/505dd2131d7a0012183cb0e22063dcb5
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/9/b01f71da087a0012183cb0e22063dcb5
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/af/d0c625a7f7790012183cb0e22063dcb5
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/c7/c0ae2358f8790012183cb0e22063dcb5
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/ca/b03bfee6117a0012183cb0e22063dcb5
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/cb/103c7f68fa790012183cb0e22063dcb5
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/d0/60cca286737a0012183cb0e22063dcb5
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/dc/30daa888f2790012183cb0e22063dcb5
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/e/e04873fb137a0012183cb0e22063dcb5
/hookflash-core/projects/bb/bbworkspace/.metadata/.plugins/org.eclipse.core.resources/.history/e5/3047a811667a0012183cb0e22063dcb5
