<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>voe_auto_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>voe_cmd_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2035E5151CBC1C53372832A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B72769664B0BB4FBC3DADCF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8A9A63BEA4A9073C2C0CAF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
