.DS_Store
*.ncb
*.suo
*.obj
*.idb
*.user
xcuserdata
/core/projects/vs2008/Debug
/core/projects/vs2008/Release
/core/projects/vs2008/hfcore/Debug
/core/projects/vs2008/hfcore/Release
/core/projects/vs2008/hfcorewrapper/Debug
/core/projects/vs2008/hfcorewrapper/Release
/core/projects/vs2008/hfservices/Debug
/core/projects/vs2008/hfserviceswrapper/Debug
/core/projects/vs2010/Debug
/core/projects/vs2010/Release
/core/projects/vs2010/hfcore/Debug
/core/projects/vs2010/hfcore/Release
/core/projects/vs2010/hfcorewrapper/Debug
/core/projects/vs2010/hfcorewrapper/Release
/core/projects/vs2010/hfcore/hfcore/Debug
/core/projects/vs2010/hfcore/hfcore/Release
/core/projects/vs2010/hfcore/hfcoreTest/Debug
/core/projects/vs2010/hfcore/hfcoreTest/Release
/core/projects/vs2010/hfcore/hfcorewrapper/Debug
/core/projects/vs2010/hfcore/hfcorewrapper/Release
/core/projects/vs2010/hfcore/hfstack/Debug
/core/projects/vs2010/hfcore/hfstack/Release
/core/projects/vs2010/hfcore/hfstacktest/Debug
/core/projects/vs2010/hfcore/hfstacktest/Release
/core/projects/vs2010/hfcore/hfservices/Debug
/core/projects/vs2010/hfcore/hfservices/Release
/core/projects/vs2010/hfcore/hfservicestest/Debug
/core/projects/vs2010/hfcore/hfservicestest/Release
/core/projects/vs2010/hfcore/hfserviceswrapper/Debug
/core/projects/vs2010/hfcore/hfserviceswrapper/Release
/core/projects/gnu-make/services/*.log
/core/projects/gnu-make/services/out/
/core/projects/gnu-make/services/swig/java/
/core/hookflash/services/wrapper/cpp/hfservices_wrap.cpp
/core/hookflash/services/wrapper/cpp/hfservices_wrap.h
/services/projects/xcode/hfservices/build
/services/projects/xcode/hfservicestest/build
/services/projects/vs2008/Release
/services/projects/vs2008/Debug
/services/projects/vs2008/hfservices/Release
/services/projects/vs2008/hfservices/Debug
/services/projects/vs2008/hfservicestest/Release
/services/projects/vs2008/hfservicestest/Debug
/services/projects/vs2008/hfservicestest_cppunit/Release
/services/projects/vs2008/hfservicestest_cppunit/Debug
/core/projects/xcode/hfcore.xcworkspace/xcuserdata
/services/projects/xcode/hfservices/hfservices.xcodeproj/xcuserdata
/services/projects/xcode/hfservicestest/hfservicestest.xcodeproj/xcuserdata
/core/projects/xcode/hfcore.xcworkspace/xcuserdata/robin.xcuserdatad
/services/projects/xcode/hfservices/hfservices.xcodeproj/robin.mode1v3
/services/projects/xcode/hfservices/hfservices.xcodeproj/robin.pbxuser
/services/projects/xcode/hfservices/hfservices.xcodeproj/xcuserdata/robin.xcuserdatad
/services/projects/xcode/hfservicestest/hfservicestest.xcodeproj/robin.mode1v3
/services/projects/xcode/hfservicestest/hfservicestest.xcodeproj/robin.pbxuser
/services/projects/xcode/hfservicestest/hfservicestest.xcodeproj/xcuserdata/robin.xcuserdatad
/core/projects/vs2008/hfcoreTest/Debug
/core/projects/vs2008/hfcoreTest/Release
/openpeerstack/projects/vs2008/openpeerstack/Debug
/openpeerstack/projects/vs2008/openpeerstack/Release
/openpeerstack/projects/vs2008/openpeerstackTest/Debug
/openpeerstack/projects/vs2008/openpeerstackTest/Release
/core/projects/xcode/hfcore/build
/core/projects/xcode/hfcoretest/build
/core/projects/xcode/hfservices/build
/core/projects/xcode/hfstack/build
/core/projects/xcode/hfservicestest/build
/core/projects/xcode/hfstacktest/build
