<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>NetEq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>NetEqRTPplay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>NetEqTestTools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>RTPanalyze.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>RTPcat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>RTPchange.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>RTPencode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>RTPjitter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>RTPtimeshift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08E19BD98554D46D5C00DDB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>363E4CB4DDACCE2CA667195C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52627D53C308C79B4FC1D820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61E4974A873C24A46D04F455</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>786E25629AAC2B81E3609DCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C49BA63C4BBBFBF7706AC5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B69E3F62AC57C974A76FCA55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD8D7A920A3F2A113E3F5117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E87F0572D73DF6CEED93DB79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F69624931BD12E856E6DB7FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
