<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>jpeg_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>webrtc_jpeg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14FF392435DF885101AE635F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>623A7BA341D40F842D886828</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EB0CA4076ECCF145203BEF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
