<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>vplib_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>webrtc_vplib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D4F10A67011C9A0C2771DC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FCE30B543A68120023AF2F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A90C38EB85BBCA777F09AE0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
